<!DOCTYPE html>
<html>
<head>

<title>AI Smart Task Manager</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav class="navbar navbar-dark bg-primary">
<div class="container">

<span class="navbar-brand">
🤖 AI Smart Task Manager
</span>

<a href="/logout" class="btn btn-light">
Logout
</a>

</div>
</nav>

<div class="container mt-4">

<h2>Dashboard</h2>

<div class="row">

<div class="col-md-4">
<div class="card p-3 text-center">
<h4>Total Tasks</h4>
<h2>{{ total }}</h2>
</div>
</div>

<div class="col-md-4">
<div class="card p-3 text-center">
<h4>Completed</h4>
<h2>{{ completed }}</h2>
</div>
</div>

<div class="col-md-4">
<div class="card p-3 text-center">
<h4>Pending</h4>
<h2>{{ pending }}</h2>
</div>
</div>

</div>

<br>

<h5>Productivity Score</h5>

<div class="progress">

<div class="progress-bar bg-success"
style="width: {{ (completed/total*100) if total > 0 else 0 }}%">

{{ ((completed/total*100)|round(0)) if total > 0 else 0 }}%

</div>

</div>

<br>

<div class="card p-3">

<h4>🤖 AI Recommendation</h4>

<p>{{ ai_message }}</p>

</div>

<br>

<a href="/add" class="btn btn-primary">
+ Add Task
</a>

<hr>

<table class="table table-striped">

<tr>
<th>Task</th>
<th>Priority</th>
<th>Deadline</th>
<th>Status</th>
<th>AI Suggestion</th>
<th>Actions</th>
</tr>

{% for task in tasks %}

<tr>

<td>{{ task.title }}</td>
<td>{{ task.priority }}</td>
<td>{{ task.deadline }}</td>
<td>{{ task.status }}</td>
<td>{{ task.suggestion }}</td>

<td>

<a href="/complete/{{task.id}}" class="btn btn-success btn-sm">
Complete
</a>

<a href="/delete/{{task.id}}" class="btn btn-danger btn-sm">
Delete
</a>

</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>
